<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="datasource.connector"
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      
      <dataSource
            defaultDisplayName="EQUELLA Connectors Datasource"
            driverClass="com.tle.reporting.oda.Driver"
            id="com.tle.reporting.oda.connectors.datasource.connector"
            odaVersion="3.0"
            setThreadContextClassLoader="false">
            
         <properties>
            <propertyGroup
                  defaultDisplayName="Connection Properties"
                  name="connectionProperties">
               <property
                  type="string"
                  defaultDisplayName="URL"
                  canInherit="true"
                  name="webserviceUrl"/>
               <property
                  type="string"
                  defaultDisplayName="Username"
                  canInherit="true"
                  name="webserviceUser"/>
               <property
                     isEncryptable="true"
                     type="string"
                     canInherit="true"
                     defaultDisplayName="Password"
                     name="webservicePassword"/>
            </propertyGroup>
         </properties>
	</dataSource>

	<dataSet
            defaultDisplayName="Connector Content Data Set"
            id="com.tle.reporting.oda.connectors.dataset.connector">
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String"/>
         <dataTypeMapping
               nativeDataType="Timestamp"
               nativeDataTypeCode="4"
               odaScalarDataType="Timestamp"/>
         <dataTypeMapping
               nativeDataType="Integer"
               nativeDataTypeCode="3"
               odaScalarDataType="Integer"/>
         <dataTypeMapping
               nativeDataType="Boolean"
               nativeDataTypeCode="5"
               odaScalarDataType="Boolean"/>
      </dataSet>
      
      <dataSet
            defaultDisplayName="Connector List Data Set"
            id="com.tle.reporting.oda.connectors.dataset.connectorlist">
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String"/>
      </dataSet>
      
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      
      <dataSetUI
            id="com.tle.reporting.oda.connectors.dataset.connector"
            initialPageId="com.tle.reporting.oda.connectors.ui.connectors.page1"
            supportsInParameters="true"
            supportsOutParameters="false">
         <dataSetWizard class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"/>
         <dataSetPage
               displayName="Connectors Query"
               id="com.tle.reporting.oda.connectors.ui.connectors.page1"
               wizardPageClass="com.tle.reporting.oda.connectors.ui.ConnectorsEditorPage"/>
      </dataSetUI>
      
      <dataSetUI
            id="com.tle.reporting.oda.connectors.dataset.connectorlist"
        	initialPageId="com.tle.reporting.oda.connectors.ui.connectorlist.page1"    
         	supportsInParameters="true"
            supportsOutParameters="false">
         <dataSetWizard class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"/>
        
         <dataSetPage
               displayName="Connectors List"
               id="com.tle.reporting.oda.connectors.ui.connectorlist.page1"
               wizardPageClass="com.tle.reporting.oda.connectors.ui.ConnectorsListEditorPage"/>
      </dataSetUI>
    
      
       <dataSourceUI id="com.tle.reporting.oda.connectors.datasource.connector">
         <newDataSourceWizard
               includesProgressMonitor="true"
               pageClass="com.tle.reporting.oda.webservice.WebserviceSelectionWizardPage"
               pageTitle="EQUELLA Connectors Datasource"/>
      </dataSourceUI>
      
    </extension>
   
   <extension
         id="com.tle.reporting.oda.connectors.datasource.connector"
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="false"
            class="com.tle.reporting.oda.webservice.WebservicePropertyPage"
            id="com.tle.reporting.oda.connectors.datasource.connector"
            name="EQUELLA Connectors Datasource Properties"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="com.tle.reporting.oda.connectors.datasource.connector"/>
      </page>
   </extension>
   
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <connectionProfile
            category="org.eclipse.datatools.connectivity.oda.profileCategory"
            icon="favicon.ico"
            id="com.tle.reporting.oda.connectors.datasource.connector"
            name="EQUELLA Connectors Connection"
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"/>
      <connectionFactory
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="com.tle.reporting.oda.connectors.datasource.connector"
            profile="com.tle.reporting.oda.connectors.datasource.connector"/>
      <newWizard
            class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
            icon="favicon.ico"
            id="com.tle.reporting.oda.connectors.datasource.connector"
            name="EQUELLA Connectors Datasource"
            profile="com.tle.reporting.oda.connectors.datasource.connector"/>
   </extension>

</plugin>
