classes
bin
applet-classes
test.classes
gensrc
#staging - Interface has a staging source folder
product
plugindocs
test.reports
/.metadata
/.recommenders
/Servers
/RemoteSystemsTempFiles
/Source/Server/equellaserver/*.launch
/workspace*
/workbench
/build.properties
/version.properties
*~
/Source/Tools/ConfigManager/configs/
/Source/Server/adminTool/server.xml
/Source/Plugins/Admin/com.tle.admin.common/server.xml
/runtime-EclipseApplication
*.pyc
*.pmd
.ant-targets-build.xml
######### Build artifacts ###################
spring-scanner-cache.csv
/Installer/iso
/Source/Build/language-packs
/Source/Build/themes
/Source/Themes/red.zip
/Source/Themes/grape.zip
/Source/Integration/Angel/version.properties
/Source/Integration/Moodle/equella/version.properties
/Source/Integration/Moodle/moodle-1/mod/equella/version.properties
/Source/Integration/Moodle/moodle-2/mod/equella/version.properties
/Source/Integration/Blackboard/bb9/public_html/WEB-INF/bb-manifest.xml
/Source/Server/web/public_html/version.properties
.idea
target/
project/build.conf

