# Local test configuration (users copy test.properties.sample to test.properties)
graphql-client/scala/src/test/resources/test.properties

*.pyc
*.pmd
*.iml
.parcel-cache/
.idea/.name

.bsp/
target/
build.conf
generated.keystore
.classpath
.settings
.project
.cache-main
.cache-tests
.code-workspace

# Remove this one day
Source/Plugins/Kaltura
server.xml
node_modules/

# Build Server Protocol files, typically added by IntelliJ with SBT
.bsp/

# Library files downloaded and extracted as part of reporting module build
Source/Plugins/Core/com.equella.reporting/lib
