FORM
{
	font-family: sans-serif;
	padding-left: 10%;
	padding-right: 10%;
}

FIELDSET
{
	width: 100%;
}

SELECT
{
	width: 100%;
}

INPUT[type='text']
{
	width: 100%;
}

INPUT[type='file']
{
	width: 100%;
}

LABEL
{
}

LEGEND
{
	color: #000070;
}

.help
{
	font-size: 80%;
}

.help CODE
{
	font-size: 120%;
}

.formfield
{
	padding-bottom: 1em;
}