classes
applet-classes
test.classes
gensrc
staging
product
plugindocs
test.reports
/.metadata
/Servers
/learningedge-config
/workspace
/workbench
*~
/runtime-EclipseApplication
*.pyc
*.pmd
.ant-targets-build.xml

