server.url = "http://hostname:8080/"
server.password = autotestpassword

//echoserver.url = "http://localhost:8083/echo"
//testinteg.url = "http://localhost:8083/index.html"
//tests.insts = null //"fiveo"
//
webdriver {
  chrome {
//    driver = ${HOME}"/bin/chromedriver"
//    headless = true
  }
}

tests {
//  suitenames = ["testng.xml"]
//  parallel = false
}

//install {
//  zip = ${HOME}"/equella/Equella/Installer/target/equella-installer-6.5.zip"
//  hostname = "boorah"
//  url = "http://boorah:8080/"
//  jacoco = "output=tcpserver"
//}
//
//proxy {
////  host = "localhost"
////  port = 8888
//}
//coverage {
//  address = "localhost:6300"
//}