<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="com.tle.jpfclasspath.JPFClasspathContainerPage"
            id="com.tle.jpfclasspath.CONTAINER"
            name="JPF Classpath">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="com.tle.jpfclasspath.JPFClasspathContainerInitializer"
            id="com.tle.jpfclasspath.CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         id="jpfjars"
         name="JPF Jar Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tle.jpfclasspath.JPFJarNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="jpfproject"
         name="JPF Project nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.tle.jpfclasspath.JPFProjectNature">
         </run>
      </runtime>
      <builder
            id="com.tle.jpfclasspath.manifestBuilder">
      </builder>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="jpfProblem"
         name="JPF Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="manifestBuilder"
         name="JPF Manifest Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="com.tle.jpfclasspath.JPFManifestBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="JPF">
            <dynamic
                  class="com.tle.jpfclasspath.menu.ConvertJPFProjects"
                  id="jpfconvert">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="JPF">
            <command
                  commandId="com.tle.jpfclasspath.commands.assign"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.tle.jpfclasspath.jpfproject">
                           </test>
                        </adapt>
                     </iterate>
                     <count
                           value="(1-">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.tle.jpfclasspath.properties.JPFRepositoryPage"
            id="com.tle.jpfclasspath.properties.jpfrepository"
            name="JPF Registry">
         <filter
               name="projectNature"
               value="com.tle.jpfclasspath.jpfproject">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.tle.jpfclasspath.properties.JPFParentRepositoriesPage"
            id="com.tle.jpfclasspath.properties.jpfparents"
            name="JPF Parent Registries">
         <filter
               name="projectNature"
               value="com.tle.jpfclasspath.jpfjars">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.tle.jpfclasspath.commands.category"
            name="JPF Commands">
      </category>
      <command
            categoryId="com.tle.jpfclasspath.commands.category"
            id="com.tle.jpfclasspath.commands.assign"
            name="Assign Registry...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.tle.jpfclasspath.properties.JPFAssignHandler"
            commandId="com.tle.jpfclasspath.commands.assign">
      </handler>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathFixProcessors">
      <classpathFixProcessor
            class="com.tle.jpfclasspath.JPFClasspathFixProcessor"
            id="com.tle.jpfclasspath.fixer">
      </classpathFixProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.tle.jpfclasspath.wizardcategory"
            name="JPF">
      </category>
      <wizard
            category="com.tle.jpfclasspath.wizardcategory"
            class="com.tle.jpfclasspath.wizard.NewPluginWizard"
            id="com.tle.jpfclasspath.newplugin"
            name="JPF Plugin Project"
            project="true">
      </wizard>
      <wizard
            category="com.tle.jpfclasspath.wizardcategory"
            class="com.tle.jpfclasspath.wizard.NewRegistryWizard"
            id="com.tle.jpfclasspath.newregistry"
            name="JPF Registry Project">
      </wizard>
   </extension>

</plugin>
