<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="com.tle.reporting.oda.datasource"
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSet
            defaultDisplayName="JDBC Data Set"
            id="com.tle.reporting.oda.dataset.jdbc">
         <dataTypeMapping
               nativeDataType="BIT"
               nativeDataTypeCode="-7"
               odaScalarDataType="Integer"/>
         <dataTypeMapping
               nativeDataType="TINYINT"
               nativeDataTypeCode="-6"
               odaScalarDataType="Integer"/>
         <dataTypeMapping
               nativeDataType="SMALLINT"
               nativeDataTypeCode="5"
               odaScalarDataType="Integer"/>
         <dataTypeMapping
               nativeDataType="INTEGER"
               nativeDataTypeCode="4"
               odaScalarDataType="Integer"/>
         <dataTypeMapping
               nativeDataType="BIGINT"
               nativeDataTypeCode="-5"
               odaScalarDataType="Decimal"/>
         <dataTypeMapping
               nativeDataType="FLOAT"
               nativeDataTypeCode="6"
               odaScalarDataType="Double"/>
         <dataTypeMapping
               nativeDataType="REAL"
               nativeDataTypeCode="7"
               odaScalarDataType="Double"/>
         <dataTypeMapping
               nativeDataType="DOUBLE"
               nativeDataTypeCode="8"
               odaScalarDataType="Double"/>
         <dataTypeMapping
               nativeDataType="NUMERIC"
               nativeDataTypeCode="2"
               odaScalarDataType="Decimal"/>
         <dataTypeMapping
               nativeDataType="DECIMAL"
               nativeDataTypeCode="3"
               odaScalarDataType="Decimal"/>
         <dataTypeMapping
               nativeDataType="CHAR"
               nativeDataTypeCode="1"
               odaScalarDataType="String"/>
         <dataTypeMapping
               nativeDataType="VARCHAR"
               nativeDataTypeCode="12"
               odaScalarDataType="String"/>
         <dataTypeMapping
               nativeDataType="LONGVARCHAR"
               nativeDataTypeCode="-1"
               odaScalarDataType="String"/>
         <dataTypeMapping
               nativeDataType="DATE"
               nativeDataTypeCode="91"
               odaScalarDataType="Date"/>
         <dataTypeMapping
               nativeDataType="TIME"
               nativeDataTypeCode="92"
               odaScalarDataType="Time"/>
         <dataTypeMapping
               nativeDataType="TIMESTAMP"
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp"/>
         <dataTypeMapping
               nativeDataType="BOOLEAN"
               nativeDataTypeCode="16"
               odaScalarDataType="Boolean"/>
         <dataTypeMapping
               nativeDataType="BINARY"
               nativeDataTypeCode="-2"
               odaScalarDataType="Blob"/>
         <dataTypeMapping
               nativeDataType="VARBINARY"
               nativeDataTypeCode="-3"
               odaScalarDataType="Blob"/>
         <dataTypeMapping
               nativeDataType="LONGVARBINARY"
               nativeDataTypeCode="-4"
               odaScalarDataType="Blob"/>
         <dataTypeMapping
               nativeDataType="BLOB"
               nativeDataTypeCode="2004"
               odaScalarDataType="Blob"/>
         <dataTypeMapping
               nativeDataType="CLOB"
               nativeDataTypeCode="2005"
               odaScalarDataType="String"/>
      </dataSet>
      <dataSet
            defaultDisplayName="Freetext Dataset"
            id="com.tle.reporting.oda.dataset.freetext">
                     <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String"/>
                     <dataTypeMapping
                           nativeDataType="Long"
                           nativeDataTypeCode="2"
                           odaScalarDataType="Decimal"/>
                     <dataTypeMapping
                           nativeDataType="Integer"
                           nativeDataTypeCode="3"
                           odaScalarDataType="Integer"/>
            </dataSet>
      <dataSet
            defaultDisplayName="UserManagement Dataset"
            id="com.tle.reporting.oda.dataset.ump">
                     <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String"/>
                     <dataTypeMapping
                           nativeDataType="Long"
                           nativeDataTypeCode="2"
                           odaScalarDataType="Decimal"/>
                     <dataTypeMapping
                           nativeDataType="Integer"
                           nativeDataTypeCode="3"
                           odaScalarDataType="Integer"/>
            </dataSet>
      <dataSource
            defaultDisplayName="EQUELLA Datasource"
            driverClass="com.tle.reporting.oda.Driver"
            id="com.tle.reporting.oda.datasource"
            odaVersion="3.0"
            setThreadContextClassLoader="false">
         <properties>
            <propertyGroup
                  defaultDisplayName="Connection Properties"
                  name="connectionProperties">
               <property
                  type="string"
                  defaultDisplayName="URL"
                  canInherit="true"
                  name="webserviceUrl"/>
               <property
                  type="string"
                  defaultDisplayName="Username"
                  canInherit="true"
                  name="webserviceUser"/>
               <property
                     isEncryptable="true"
                     type="string"
                     canInherit="true"
                     defaultDisplayName="Password"
                     name="webservicePassword"/>
            </propertyGroup>
         </properties>
</dataSource>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.oda.design.ui.dataSource">
      <dataSetUI
            id="com.tle.reporting.oda.dataset.jdbc"
            initialPageId="com.tle.reporting.oda.ui.jdbc.page1"
            supportsInParameters="true"
            supportsOutParameters="false">
         <dataSetWizard class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"/>
         <dataSetPage
               displayName="JDBC Query"
               id="com.tle.reporting.oda.ui.jdbc.page1"
               wizardPageClass="com.tle.reporting.oda.ui.DataSetEditorPage"/>
      </dataSetUI>
      <dataSetUI
            id="com.tle.reporting.oda.dataset.freetext"
            initialPageId="com.tle.reporting.oda.ui.freetext.page1"
            supportsInParameters="true"
            supportsOutParameters="false">
         <dataSetWizard class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"/>
         <dataSetPage
               displayName="Free Text Query"
               id="com.tle.reporting.oda.ui.freetext.page1"
               wizardPageClass="com.tle.reporting.oda.ui.FreetextEditorPage"/>
      </dataSetUI>
      <dataSetUI
            id="com.tle.reporting.oda.dataset.ump"
            initialPageId="com.tle.reporting.oda.ui.ump.page1"
            supportsInParameters="true"
            supportsOutParameters="false">
         <dataSetWizard class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.DataSetWizard"/>
         <dataSetPage
               displayName="User Management Query"
               id="com.tle.reporting.oda.ui.ump.page1"
               wizardPageClass="com.tle.reporting.oda.ui.UserManagementEditorPage"/>
      </dataSetUI>
      <dataSourceUI id="com.tle.reporting.oda.datasource">
         <newDataSourceWizard
               includesProgressMonitor="true"
               pageClass="com.tle.reporting.oda.webservice.WebserviceSelectionWizardPage"
               pageTitle="EQUELLA Datasource"/>
      </dataSourceUI>
   </extension>
   <extension
         id="com.tle.reporting.oda.datasource"
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="false"
            class="com.tle.reporting.oda.webservice.WebservicePropertyPage"
            id="com.tle.reporting.oda.datasource"
            name="EQUELLA Datasource Properties"
            objectClass="org.eclipse.datatools.connectivity.IConnectionProfile">
         <filter
               name="org.eclipse.datatools.profile.property.id"
               value="com.tle.reporting.oda.datasource"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <connectionProfile
            category="org.eclipse.datatools.connectivity.oda.profileCategory"
            icon="favicon.ico"
            id="com.tle.reporting.oda.datasource"
            name="EQUELLA Connection"
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"/>
      <connectionFactory
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="com.tle.reporting.oda.datasource"
            profile="com.tle.reporting.oda.datasource"/>
      <newWizard
            class="org.eclipse.datatools.connectivity.oda.design.ui.wizards.NewDataSourceWizard"
            icon="favicon.ico"
            id="com.tle.reporting.oda.datasource"
            name="EQUELLA Datasource"
            profile="com.tle.reporting.oda.datasource"/>
   </extension>

</plugin>
