### Intellij ###
## https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems

/artifacts/
/httpRequests/

# User-specific stuff:
/dictionaries
/jsLibraryMappings.xml
/shelf/
/tasks.xml
/vcs.xml
/workspace.xml
GrepConsole.xml
copilot*.xml
data_source_mapping.xml
prettier.xml

# Sensitive or high-churn files:
/dataSources.ids
/dataSources.xml
/dataSources.local.xml
/dataSources/
/sqlDataSources.xml
/dynamic.xml
/uiDesigner.xml

## And seeing SBT projects also regenerates .iml module files
## lets ignore them all:
/modules/
/modules.xml
/compiler.xml
/sbt.xml

/libraries/
/sonarlint/
/scala_compiler.xml
/hydra.xml
/inspectionProfiles/Project_Default.xml

/saveactions_settings.xml

### Intellij - END ###
